<!DOCTYPE html>
<html lang="en">

<head>
  {{#if title}}
  <title>{{title}}</title>
  {{else}}
  <title>System page</title>
  {{/if}}
  <meta name="robots" content="noindex">
  <meta charset="utf-8">
  <link rel="shortcut icon" id="favicon" href="{{proxyPrefix}}/static/icon/favicon">
  {{{render 'head-scripts'}}}
</head>

<body>
  {{{body}}}
</body>

</html>