<script>
  window.__initialState__ = {{{initialState}}}
</script>

<!--{{prefixScript '/static/app.js' 'scripts'}}-->

<div class="col">
  <h1>node-web</h1>

  {{#if error}}
    <p>Error: {{error}}</p>
  {{else}}
    <div id="app">{{{html}}}</div>
  {{/if}}
</div>

