<style>
  .about tr td:first-child {
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
  }
</style>
<h1>About {{{appName}}}</h1>
<hr />
<table class="about">
  <tr>
    <td>Application Version:</td>
    <td>{{{appVersion}}}</td>
  </tr>
  <tr>
    <td>Application Description:</td>
    <td>{{{appDescription}}}</td>
  </tr>
  <tr>
    <td>Git Branch:</td>
    <td>{{{gitBranch}}}</td>
  </tr>
  <tr>
    <td>Git Commit Hash:</td>
    <td>{{{gitCommit}}}</td>
  </tr>
  <tr>
    <td>Jenkins Build ID:</td>
    <td>{{{jenkinsBuild}}}</td>
  </tr>
  <tr>
    <td>Jenkins Build Date:</td>
    <td>{{{jenkinsBuildDate}}}</td>
  </tr>
  {{#if language}}
  <tr>
    <td>Language:</td>
    <td>{{{language}}}</td>
  </tr>
  {{/if}}
</table>
<hr />
<table class="about">
  <tr>
    <td>Docker Name:</td>
    <td>{{{dockerName}}}</td>
  </tr>
  <tr>
    <td>Docker Version:</td>
    <td>{{{dockerVersion}}}</td>
  </tr>
  <tr>
    <td>Started:</td>
    <td>{{{started}}}</td>
  </tr>
  <tr>
    <td>Hostname:</td>
    <td>{{{hostname}}}</td>
  </tr>
</table>
<hr />
<p>
  {{#if monitorUri}}
  <a href="{{monitorUri}}">Monitor</a>
  {{else}}
  <a href="{{ withProxyPrefixPath '/_monitor' }}">Monitor</a>
  {{/if}}
  <span>|</span>
  {{#if robotsUri}}
  <a href="{{robotsUri}}">robots.txt</a>
  {{else}}
  <a href="/robots.txt">robots.txt</a>
  {{/if}}
</p>
<!-- env: {{env}} -->